body{
	margin: 0;
	padding: 0;
	font-family:"roboto", sans-serif;
	background-color:#13151f;
	color:white;
	z-index:0;
	overflow-x:hidden;
}
#header{

	margin-top:1rem;
}
.container{
	width:80%;
	margin:0 auto;
}
#header .top{
	display:flex;
	align-items:center;
	justify-content: space-between;
}

#header .top .menu .search{
	display:flex;
	justify-content: center;
	align-items: center;
}
#header .top .menu .search a{
	text-decoration: none;
	color:white;
	margin:1.2rem 1rem;
}
#header .container .top .menu .list{
	list-style: none;
	display:flex;
	justify-content: center;
	align-items: center;
}
.item{
	margin:0 1.2rem;
}
#header .top .menu .search form{
	border:1px solid white;
	border-radius:20px;
}
#header .top .menu .search form input{
		border:none;
		background-color:#13151f;
		outline:none;
		caret-color: white;
		border-left:1px solid white;
		margin:0;
		padding:8px 15px;
}
#header .top .menu .search form select{
	border:none;
	background-color:#13151f;
	color:white;
	outline:none;
	margin:0 5px;
}
.item-page{
	position: relative;
}
.submenu{	
	list-style: none;
	display:none;
	position: absolute;
	background-color: black;
	border:1px solid black;
	padding:0;
	white-space:nowrap;
	top:20px;
	left:-20px;
}
.item-page .submenu li a{
	display:block;
	margin:4px;
	padding:2px 1.5rem;
}
.item-page:hover .submenu{
	display:block;
}
#header .top .menu .search a,#header .container .top .menu .list li a{
	transition: all 400ms;
}
#header .container .top .menu .list li a{
	text-decoration: none;
	color:white;
	transition: 400ms;
}
#header .top .menu .search a:hover,#header .container .top .menu .list li a:hover{
	color:#eb315a;
	box-shadow: 2px 2px 10px 10px rgba(0,0,0,.2);
	font-weight: 300px;
}
#header .container .top .menu .list li a:focus{
	color:#eb315a;
	box-shadow: 2px 2px 10px 10px rgba(0,0,0,.2);
	font-weight: 300px;
}
.item button{
	border:1px solid #eb315a;
	background-color:#eb315a;
	padding:8px 30px;
	border-radius: 20px;
	color:white;
	font-size:1rem; 
	transition: 270ms;
	font-weight: 2px;
}
.item button:hover{
	background-color:transparent;
	color:#eb315a;
}
#article{
	margin-top:10rem;
}
.hero{
	margin-bottom: 30px;
}
#article .container .next-post{
	transform-style: preserve-3d;
	transform: rotateY(-2deg);

}
#article .container .pre-post{
	transform-style: preserve-3d;
	transform: rotateY(2deg);

}
#article .container .current{
	width:85%;
	margin:0 auto;
	position: relative;
}

#article .container .pre{
	width:85%;
	perspective: 80px;
	left:-850px;
	position: absolute;
	top:390px;
}
#article .container .next{
	width:85%;
	perspective: 80px;
	right:-850px;
	top:390px;
	position: absolute;
}

#article .container .content-detail {
	box-shadow: 0 0 20px #000000;
	z-index: 10;
	position: relative;
	user-select: none;
	display:grid;
	grid-template-columns: 1fr 1fr;
}
#article .container .avt{
	position: absolute;
	z-index:11;
	transform: scale(.8,.8);
	top: -134px;
    left: -44px;
}
.container .text{
	margin: 40px 15px;
	grid-column:2;
}
.container .text h1{
	font-size:2rem;
	margin-bottom: 0; 
}
.text .summary{
	color: #b6b7b9;
	word-spacing: .1rem;
	line-height: 1.5;
	font-size:.99rem;
	margin-bottom: 35px;
}
.text .cast{
	font-size:1.8rem;
	font-weight: 200;
	margin-bottom:1px;
}
.voter{
	display:flex;
	align-items: center;
}
.voter p{
	margin-left:20px;
	font-size:1.1rem;
}
.image{
	display:flex;
	align-items: center;
}
.image *{
	margin:10px 4px 40px 4px;
}
.image div{
	border:2px solid #eb315a;
	padding:13px;
	border-radius: 50%;
}
.end-ads{
	display:flex;
	align-items: center;
}
.end-ads *{
	margin:0 30px 0px 4px;
}
.end-ads p{
	font-size:2rem;
}
.end-ads a{
	text-decoration: none;
	color:white;
	font-size:1.1rem;
	padding:5px 30px;
	background-color:#963dad;
	border:1px solid #963dad;
	border-radius: 15px;
}
.container .about-movie{
	margin-top:130px;
}
.content{
	display: flex;
	justify-content: space-between;
	border-bottom: 1px solid white;
	padding:10px 0;
	align-items: center;
}
.content h1{
	font-size: 2.5rem;
	margin:0;
}
.content .list-info{
	display: flex;
	list-style: none;

}
.content .list-info .item{
	color:#b6b7b9;
	cursor: pointer;
	padding:10px 0;
	transition: 220ms;
}
.content .list-info .item:hover{
	border-bottom: 2px solid #eb315a;
}

.item.list-focus{
	color:white !important;;
	border-bottom: 2px solid #eb315a;
}
.list{
	display:grid;
	grid-template-columns: repeat(12,1fr);
	grid-gap:40px;
}
.list .list-left{
	display: grid;
	grid-column:1/10;
	grid-template-columns: repeat(3,1fr);
	grid-gap:30px;
}

.list{
	margin-top:50px;
}
.play{
	position: relative;
	overflow: hidden;
}
.play .center-circle{
	padding:15px;
	border:1px solid white;
	border-radius: 50%;
	position: absolute;
	top:40%;
	left:35%;
	z-index:99;
	display:none;
}
.fa-play{
	font-size: 30px;
	transition: 220ms;
}
.fa-play:hover{
	opacity: 0.2;
}
.play .poster{
	transition: 420ms;
	width:250px;
}
.play:hover .poster{
	transform: scale(1.2);
}
 .play:hover .center-circle{
 	display:block;
 }
 .play .center-circle:hover{
 	border:1px solid yellow;
 }
 .detail h2{
	font-size: 1.8rem;
	text-align:left;
	margin:15px 0;
 }
 .rate-vote{
 	display: flex;
 }
 .rate-vote span{
 	font-size: 1.2rem
 }
 .rate-vote .rate{
 	margin-right:30px;
 }
 .rate-vote .rate .fa-star{
 	font-size: .8rem;
 }
 .list .list-right{
 	grid-column: 10/13;
 }
.right{
	display: grid;
    grid-template-rows: repeat(4,1fr);
    grid-gap: 23px
}
.right img{
	width:250px;
	border-radius: 20px;
}
.main-trailer{
	grid-column:1/10;
}
.sub-right{
	display: grid;
    grid-gap: 30px
}
.sub-right img{
	border-radius: 20px;
	height:196px;
}
.play1{
	position: relative;
	overflow: hidden;
}
.play1 .center-circle{
	padding:15px;
	border:1px solid white;
	border-radius: 50%;
	position: absolute;
	top:40%;
	left:45%;
	z-index:99;
	display:none;
}
.play1:hover img{
	transform: scale(1.2);
}
.play1 img{
	transition: 420ms;
}
 .play1:hover .center-circle{
 	display:block;
 }
 .play1 .center-circle:hover{
 	border:1px solid yellow;
 }
 .on-image{
 	position: absolute;
 	bottom:0px;
 	width:100%;
 	height:100px;
 	background-color: rgba(19,21,31,0.6);
 }